global
    log         127.0.0.1 local2 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    stats socket           /var/run/haproxy.sock mode 666 level admin
    maxconn     4000
    user        haproxy			#설치 시 생성한 시스템 계정
    group       haproxy			#설치 시 생성한 시스템 계정
    daemon

    stats socket /var/lib/haproxy/stats		#상태 정보 기록

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                3000

listen stats
    bind :::8888 v4v6		#관리자 페이지 접속 포트
    mode http
    stats enable
    stats hide-version
    stats uri /
    stats realm Haproxy\ Statistics
    stats auth user:password	#관리자 페이지 로그인 계정

frontend  WEB_Service
    bind :::80 v4v6						# 80포트 바인딩
    option                  http-server-close
    # dns명이 apachtestlab.net -> access control list에 apache 할당
    acl apache hdr(host) -i apache.testlab.net
    # acl > apache 이면 backend_apache 실행
    use_backend backend_apache if apache
    # 그외 default_backend 실행
    default_backend    	 	 default			

backend default
    balance     roundrobin
    server  server1 192.168.75.149:8888 check
    
backend backend_apache
    balance roundrobin
    server  server1 192.168.50.160:80 check
    server  server2 192.168.60.161:80 check